#include <physical_layouts.dtsi>

/ {
    scylla_physical_layout: scylla_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Scylla MK2";
        status = "okay";
        kscan = <&kscan0>;
        transform = <&default_transform>;

        keys
            // Left Half - Main Keys
            //                       w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   38       0     0     0>
            , <&key_physical_attrs 100 100  100   38       0     0     0>
            , <&key_physical_attrs 100 100  200   12       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400   12       0     0     0>
            , <&key_physical_attrs 100 100  500   12       0     0     0>
            , <&key_physical_attrs 100 100  900   12       0     0     0>
            , <&key_physical_attrs 100 100 1000   12       0     0     0>
            , <&key_physical_attrs 100 100 1100    0       0     0     0>
            , <&key_physical_attrs 100 100 1200   12       0     0     0>
            , <&key_physical_attrs 100 100 1300   38       0     0     0>
            , <&key_physical_attrs 100 100 1400   38       0     0     0>
            , <&key_physical_attrs 100 100    0  138       0     0     0>
            , <&key_physical_attrs 100 100  100  138       0     0     0>
            , <&key_physical_attrs 100 100  200  112       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  112       0     0     0>
            , <&key_physical_attrs 100 100  500  112       0     0     0>

            // Right Half - Main Keys
            //                       w   h    x    y     rot    rx    ry
            , <&key_physical_attrs 100 100  900  112       0     0     0>
            , <&key_physical_attrs 100 100 1000  112       0     0     0>
            , <&key_physical_attrs 100 100 1100  100       0     0     0>
            , <&key_physical_attrs 100 100 1200  112       0     0     0>
            , <&key_physical_attrs 100 100 1300  138       0     0     0>
            , <&key_physical_attrs 100 100 1400  138       0     0     0>
            , <&key_physical_attrs 100 100    0  238       0     0     0>
            , <&key_physical_attrs 100 100  100  238       0     0     0>
            , <&key_physical_attrs 100 100  200  212       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  212       0     0     0>
            , <&key_physical_attrs 100 100  500  212       0     0     0>
            , <&key_physical_attrs 100 100  900  212       0     0     0>
            , <&key_physical_attrs 100 100 1000  212       0     0     0>
            , <&key_physical_attrs 100 100 1100  200       0     0     0>
            , <&key_physical_attrs 100 100 1200  212       0     0     0>
            , <&key_physical_attrs 100 100 1300  238       0     0     0>
            , <&key_physical_attrs 100 100 1400  238       0     0     0>

            // Thumb Clusters - Left (5 keys: 3 top + 2 bottom)
            //                       w   h    x    y     rot    rx    ry
            , <&key_physical_attrs 100 100  248  314       0     0     0>
            , <&key_physical_attrs 100 100  348  314       0     0     0>
            , <&key_physical_attrs 100 100  448  314       0     0     0>
            , <&key_physical_attrs 100 100  348  414       0     0     0>
            , <&key_physical_attrs 100 100  448  414       0     0     0>
            
            // Thumb Clusters - Right (5 keys: 3 top + 2 bottom)
            //                       w   h    x    y     rot    rx    ry
            , <&key_physical_attrs 100 100  952  314       0     0     0>
            , <&key_physical_attrs 100 100 1052  314       0     0     0>
            , <&key_physical_attrs 100 100 1152  314       0     0     0>
            , <&key_physical_attrs 100 100  952  414       0     0     0>
            , <&key_physical_attrs 100 100 1052  414       0     0     0>
            ;
    };
};
